body {
    display: flex;
    width: 1917px;
    padding: 120px 96px;
    align-items: flex-start;
    gap: 10px;
}

h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 22px;
}

p, div {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.text {
    padding-top: 1px;
    margin-bottom: -15px;
}

.eee{
    width: 900px;
    
}

.low {
    width: 120px;
    height: 150px;
}